@{
  Layout = "_Layout";
}

@using Pierre.Models
@model Pierre.Models.Flavor

<br>
<h2>Flavor Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.FlavorTown): @Html.DisplayFor(model => model.FlavorTown)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This flavor does not belong to any treats</p>
}
else
{
  <h4>Treats the flavor belongs to:</h4>
  <ul>
  @foreach(TreatFlavor join in Model.JoinEntities)
  {
    <li>@join.Treat.TreatName</li>
    @using (Html.BeginForm("DeleteJoin", "Flavors"))
    {
      @Html.Hidden("joinId", @join.TreatFlavorId)
      <input type="submit" class="buttony" value="Delete"/>
    }
  }
  </ul><hr>
}

<p>@Html.ActionLink("Add a Treat", "AddTreat", new { id = Model.FlavorId }, new { @class = "linky"} ) | @Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorId }, new { @class = "linky"} ) | @Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorId }, new { @class = "linky"} )</p>
<p>@Html.ActionLink("Back to Flavor List", "Index", new { id = "nav"}, new { @class = "linky"} )</p>